---
import Card from './Card.astro'

const featuresData = [
  {title: 'Sell-side mandates', body: 'For mid-sized companies (enterprise value of between R50 million and R3 billion) seeking a minority or majority investor and/or shareholders seeking a partial or total exit from the business.'},
  {title: 'Buy-side mandates', body: 'For trade buyers, private equity funds and institutional investors whom we assist to hone their acquisition strategies, select strategic targets and successfully acquire target companies.'},
  {title: 'Capital Raising', body: 'For established businesses seeking expansion or growth capital and for selected start-ups and early stage companies seeking to raise venture capital.'}
];
---

<section class="features">
  <div class="container">
   {featuresData.map(feature => (
      <Card>
        <h3>{feature.title}</h3>
        <p>{feature.body}</p>
      </Card>
    ))}
  </div>
</section>

<style>
  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0 20px;
    margin: 30px auto;
  }

  @media (max-width: 500px) {
  .features .container {
    grid-template-columns: 1fr;
  }
}

</style>