---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'

import logos from '../images/deploy-logos.png';
import logosSmall from '../images/deploy-logos-small.png';
---

<Layout title="About Astro">
  <section class="page-content">
    <div class="container">
      <h2>History</h2>
      <p>
        The company was founded in 2000 by Jane Ashburner and Patrick Glyn.
      </p>

      <p>
        Professional team - we have a highly experienced, professional team of M&A specialists whose expertise includes business strategy and diagnostics, valuations, corporate structuring, tax and contract law.  This team is supported by a strong cohort of associates, strategic partners and industry specialists in South Africa and globally.
      </p>

      <p>
        Business network – our long-established and extensive regional and global business network provides rapid access to buyers, investors and potential acquisition targets including those that may need to be discreetly approached.
      </p>

      <p>
        Jurisdictions  - these transactions have included complex cross border transactions covering jurisdictions such as the US, UK, Australia, Germany, Italy and Brazil.
      </p>

      <p>
        B-BBEE deals - we concluded our first B-BBEE transaction in 2003 and have continued to nurture our strong ties with leading B-BBEE investors.
      </p>

      <p>
        Referrals - our excellent execution rate and strong relationship with clients has enabled Matumi to thrive over the years based purely on referrals and repeat business from satisfied clients. ​​
      </p>

      <Card dark={true}>
        <h3>Why Matumi</h3>
        <p>
          In-depth pre-engagement analysis of the client’s business and transaction objectives and how realistic and achievable those objectives are and what, if anything, can be done to improve value before going to market.
        </p>
        <p>
          Detailed valuations which we use to manage pricing expectations and ensure that financial projections are realistic, defendable and market related.
        </p>
        <p>
          Expert project management of every engagement by a Matumi executive who establishes a close working relationship with both negotiating parties and constantly keeps all stakeholders informed.
        </p>
        <p>
          Vigilance when it comes to identifying and managing potential obstacles that could derail the process including ensuring that any relevant information is disclosed to all parties as early as possible.
        </p>
        <p>
          Focus on safeguarding our clients’ reputations by running a tightly controlled and carefully targeted process – this ensures that buyers are not perceived to be opportunistic and/or process heavy and that sellers do not destroy value by approaching the market in a haphazard way.
        </p>
        <p>
          Rigorous screening of potential investors and acquisition targets to ensure they meet the transaction criteria (size, profitability, cultural etc ) before engaging the client and distracting management.
        </p>
        <p>
          Concern with preserving a healthy working relationship between negotiating parties (buyers and sellers) post the transaction.
        </p>

      </Card>
      
    </div>
  </section>
</Layout>