---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
---

<Layout>
	<Showcase showExtra={true} />
	<Features />
	
	<section class="page-content">
		<div class="container">
			<h2>Broad-Based Black Economic Empowerment (B-BBEE)</h2>
			<p>
				For clients seeking optimally structured and financed transactions with B-BBEE investors that can add long term strategic and financial value to the company.
			</p>
		</div>
	</section>
</Layout>
