---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.jsx'

import '../styles.css'
---

<Layout title="MatumiCorp">
	<main>
		<Navigation />
	</main>
</Layout>

