---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="MatumiCorp">
	<main>
		<h1>Welcome to <span class="text-gradient">Matumi</span></h1>
	</main>
</Layout>

